<template>
  <div class="container background">
    <form @submit.prevent="predictFishWeight" class="form">
      <h1>Predict Fish Weight</h1>
      <table>
        <tr class="tr">
          <td>
            <label for="species">Species:</label>
          </td>
          <td>
            <select id="species" v-model="fishData.Species" class="color">
              <option value="0">Bream</option>
              <option value="1">Roach</option>
              <option value="2">Whitefish</option>
              <option value="3">Parkki</option>
              <option value="4">Perch</option>
              <option value="5">Pike</option>
              <option value="6">Smelt</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="length1">Length 1:</label>
          </td>
          <td>
            <input class="color" id="length1" type="text" v-model.number="fishData.Length1" />
          </td>
        </tr>
        <tr>
          <td><label for="length2">Length 2:</label></td>
          <td>
            <input class="color" id="length2" type="text" v-model.number="fishData.Length2" />
          </td>
        </tr>
        <tr>
          <td><label for="length3">Length 3:</label></td>
          <td>
            <input class="color" id="length3" type="text" v-model.number="fishData.Length3" />
          </td>
        </tr>
        <tr>
          <td><label for="height">Height:</label></td>
          <td><input class="color" id="height" type="text" v-model.number="fishData.Height" /></td>
        </tr>
        <tr>
          <td><label for="width">Width:</label></td>
          <td><input class="color" id="width" type="text" v-model.number="fishData.Width" /></td>
        </tr>
        <tr>
          <td colspan="2" class="centered">
            <button class="color_btn" type="submit">▶ Predict Fish Weight ◀</button>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="centered">
            <p>{{ 'Weight = ' + resMessage }}</p>
          </td>
        </tr>
      </table>
    </form>
    <p v-if="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'

const errorMessage = ref<string>('')
const resMessage = ref<number>()
const fishData = ref({
  Species: -1,
  Length1: 0.0,
  Length2: 0.0,
  Length3: 0.0,
  Height: 0.0,
  Width: 0.0
})

const predictFishWeight = async () => {
  try {
    const response = await axios.post('http://localhost:8000/fish/predict/', fishData.value)

    console.log('Predicted fish weight:', response.data)
    resMessage.value = response.data
    errorMessage.value = ''
  } catch (error) {
    console.error('Failed to predict fish weight:', error)
    errorMessage.value = 'Failed to predict fish weight'
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

.container {
  font-family: 'Kode Mono', monospace;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://thumbs.dreamstime.com/b/texture-sans-couture-avec-les-poissons-stylis%C3%A9s-impression-pour-des-textiles-illustration-noire-et-blanche-le-papier-peint-121560532.jpg');
  font-size: 30px;
}

.form {
  position: relative;
  z-index: 1;
  background-color: #62cdff;
  padding: 25px;
  border-radius: 10px;
  border: 5px solid #000000;
}

.error {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
}

.color {
  background-color: #ffffff;
  border: 3px solid #000000;
}

.color_btn {
  background-color: #568afc;
  border: 1px solid #6897fd;
}

.centered {
  padding-top: 10px;
  text-align: center;
}
</style>
